.rf-Home-section, .rf-Separator {
	width: 100%;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.rf-Home-top > img {
	width: 200px;
	height: auto;
}

.rf-Home-bottom {
	display: flex;
	flex-direction: column;
}
