.rf-DataGrid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.rf-DataGrid-card {
	flex-basis: 20%;
	margin: 5px;
	min-width: 222px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: var(--color__gray);
	box-shadow: var(--drop-shadow__inverse);
	transition: all 0.5s ease-in-out;
}

.rf-DataGrid-card:last-child {
	margin-right: auto;
}

.rf-DataGrid-card:hover {
	box-shadow: var(--drop-shadow__regular);
}

.rf-DataGrid-card .rf-Separator {
	margin: 0 auto;
	width: calc(100% - 10px);
	background: var(--color__gray--light);
}

.rf-DataGrid-card-thumbnail {
	width: 100%;
	height: 120px;
}

.rf-DataGrid-card-thumbnail > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rf-DataGrid-card-title {
	padding: 10px;
	font-size: var(--font__size--big);
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
}

.rf-DataGrid-card-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: var(--font__size--small);
}

.rf-DataGrid-card-footer > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 10px;
}
